*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.body{
    height: 100vh
}

.navbar {
    background: black;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar_container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    margin: 0 auto;
    padding: 27px 50px;

}

#navbar_logo{
    text-decoration: none;
    color: white;
}

.navbar_menu{
   display: flex;
   align-items: center;
   justify-content: space-between;
   list-style: none;
   text-align: center;

}

.navbar_items{
    height: 80px
    
}

.navbar_links{
    color: white;
    display: flex;
    align-items: center;
    justify-self: center;
    text-decoration: none;
    padding: 0 20px;
    height: 100%

}

.navbar_links:hover{
    color:rgb(95, 95, 238);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }


    /* this styles here handles the invisibility of the navbar menu when the screensize goes into smaller screen  */
    .navbar_menu{
        
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background-color: black;
        

    }

        /* the active classlist that was created by javascript is being styled here whenever is being clicked to appear*/
    .navbar_menu.active{
        background-color: rgb(17, 15, 15);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
        

    }

    #navbar_logo{
        margin: 25px 0 0 20px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin : 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: white;

    }

    .navbar_items{
        width: 100%;
        margin: -15px 0;
        
         
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        display: table;
        width: 100%;
        padding: 10px 0;
        
        
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer
    }

   #mobile_menu.is-active .bar:nth-child(2){
    opacity: 0;
   }

   #mobile_menu.is-active .bar:nth-child(1){
    transform: translatey(8px) rotate(45deg);
   }

   #mobile_menu.is-active .bar:nth-child(3){
    transform: translatey(-8px) rotate(-45deg);
   }
}




