*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: aliceblue;
    box-shadow: 3px 3px 5px black;

}
header{
    width: auto;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
   height: 50px;
}

nav a{
    height : 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:black;
}

nav a:hover{
    background-color: grey;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#closebtn{
    margin-left: auto ;
}

#menubtn{
    display:none
}

.sidebar li{
   width: 100% 
}

.sidebar a{
    width: 100%
}

.container section img{
    width: 300px;
    height: auto;
    margin: 20px 0
}

.main-text{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 40px;
}

.container{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    justify-content: center;
    align-items: center; 
}

.label{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-style: normal;
    
}

section{
    background-color: rgba(153, 142, 142, 0.425);
    border-radius: 5px;
    box-shadow: 5px 5px 3px white inset;
    text-align: center;
    padding: 15px 0;
}


.item{
    border: 2px solid black;
    justify-self: center;
}

footer{
    background-color: aliceblue;
    box-shadow: 3px 3px 5px black;
    display: grid;
    justify-content: center;
    
}





